version: '3.8'

services:
  db:
    image: postgres:15
    container_name: taskflow_postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - taskflow_network

  web:
    build: .
    container_name: taskflow_web
    command: gunicorn taskmanager.wsgi:application --bind 0.0.0.0:8000 --workers 3
    volumes:
      - ./staticfiles:/app/staticfiles
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always
    networks:
      - taskflow_network

  nginx:
    image: nginx:alpine
    container_name: taskflow_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./staticfiles:/staticfiles
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - web
    restart: always
    networks:
      - taskflow_network

volumes:
  postgres_data:

networks:
  taskflow_network:
    driver: bridge
